@using RecipyBotWeb.Constants;

<footer>
    <div class="container"> 
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div>
                    <h3>Site map</h3>
                </div>
                <div>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
                        <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                        <li>@Html.ActionLink("Get in touch", "Contact", "Home")</li>
                    </ul>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-4">   
                <div>
                    @if (SiteSettingsConstant.IsAnyBotConfigured)
                    {
                        <h3>Get it now</h3>
                    }
                    else
                    {
                        <h3>Bots will be published soon</h3>
                    }
                </div>            
                <div>
                    @{ Html.RenderPartial("~/Views/Shared/_GetBotsIconsOnlyPartial.cshtml");  }
                </div> 
            </div>
            <div class="col-xs-12 col-sm-4">
                <div>
                    <h3><img src="~/Images/icons/favicon-32x32.png" width="26" /></h3>
                </div>   
                <p>&copy; The Recipy Bot @DateTime.Now.Year <a href="https://clydedsouza.net" title="Visit Clyde's website">Clyde D'Souza</a></p>
            </div>
        </div>
    </div>
</footer>

